################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/smt-lib/Debug
/cg-lib/Debug
/core-lib/Debug
/lucy/Debug