.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
/core-lib/parser/.antlr
/build
/gui/nbproject/private/
/gui/build/
/gui/dist/
/translators/pddl3ratio/nbproject/private/
/translators/pddl3ratio/build/
/translators/pddl3ratio/dist/